<section class="wrapper">
  <form class="form" [formGroup]="personForm" ngNoForm novalidate="false">
    <h3 class="form__title">Add data</h3>
      <input
        class="form__input"
        name="name"
        formControlName="name"
        placeholder="What is your name?"
        type="text"
        autofocus=""
        required
        novalidate="false"
      />
      <input
        class="form__input"
        name="age"
        formControlName="age"
        placeholder="What is your age?"
        type="number"
        novalidate="false"
      />
      <input
        class="form__input"
        name="email"
        formControlName="email"
        placeholder="What is your email?"
        type="email"
        (keyup.enter)="addPerson()"
        novalidate="false"
      />
      <div class="form__button" (click)="addPerson()">Submit</div>
  </form>

  <section class="main" *ngIf="persons.length > 0">
    <ul class="main__list">
      <li class="main__list__person" *ngFor="let person of persons">
        <div>
          <h4 class="main__list__person__name">{{ person.name }}</h4>
          <p class="main__list__person__age">{{ person.age }} years old</p>
          <p class="main__list__person__email">{{ person.email }}</p>
        </div>
      </li>
    </ul>
  </section>
</section>
